<%= for pie <- @pies do %>
  <a href=<%= get_href(pie) %>><%= pie["name"] %></a>
  <br>
  <img src=<%= pie["image_url"] %> width="100" height="100"> 
  <p>price per slice: <%= get_price(pie) %></p>
  <p>remaining slices: <%= remaining_slices(pie) %></p>
<% end %>
